<div class="card bg-light mb-3" style="width: 50%;">
    <div class="card-header">Customer</div>
    <div class="card-body">
        <h5 class="card-title">{{ customer.first_name }} {{ customer.last_name }}</h5>
        <p class="card-text">CI: {{ customer.docNumber }}</p>
        <p class="card-text">Email: {{ customer.email }}</p>
        <p class="card-text">Mobile: {{ customer.mobile }}</p>
        <p class="card-text">Phone: {{ customer.phone }}</p>
        <p class="card-text">Monthly Amount: {{ customer.monthlyAmount }}</p>
        <div class="btn-group btn-group-sm float-right" role="group">
            <button type="button" class="btn btn-danger" (click)="deleteCustomer(customer)">Delete</button>
        </div>
    </div>
</div>
<div class="btn-group btn-group-sm" role="group">
    <button type="button" class="btn btn-secondary" (click)="back()">Back</button>
</div>